.login
{
    background-color: skyblue;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 30%;
    left: 40%;

}
#login
{
    text-align: center;
    width:fit-content;
}
.register
{
    background-color: skyblue;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 30%;
    left: 40%;   
}